*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 123);
    width: 100vw;
    height: 100vh;
}
.box{
    width: 400px;
    height: 400px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}
.hours{
    color: white;
    font-size: 100px;
    position: absolute;
    z-index: 1;
}
.box::before{
    content: '';
    width: 150px;
    height: 140%;
    background-color: rgb(255, 0, 140);
    position: absolute;
    animation: animate 4s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    background-color: rgb(25, 25, 123);
    inset: 6px;
}
@keyframes animate
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}